@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
.nav{
    width: 100%;
    padding: 30px 40px;
    background-color: rgb(248, 183, 183);
}
.nav-links{
    display: flex;
    justify-content: space-between;
  
    
}.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    margin: 50px 0;
}