@import url("https://fonts.googleapis.com/css2?family=Play&family=Poppins:wght@100;200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
/* body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #111;
  color: white;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(252, 250, 250, 0.25);
  border-radius: 10px;
} */
