:root {
  --headerColor: #0a66c2;
}
.header-container {
  border: 1px solid red;
  background-color: var(--headerColor);
  display: flex;
  color: white;
}
.logo {
  width: 120px;
  height: 60px;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px 4px 10%;
  border: 1px solid red;
  width: 40%;
  align-items: center;
}
.input {
  padding: 8px 10px;
  min-width: 160px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  outline: none;
}
.nav-right {
  border: 1px solid red;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.icon {
  font-size: 22px;
}
.link-wrapper {
  display: flex;
}
.profile-wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 70px;
  border: 1px solid red;
  transition: all 1s;
}
.profile-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.signout {
  margin-top: 4px;
}
